


<html> 
<body> 
    <h3>Air Quality Prediction</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="T">Temprature</label> 
    <input type="text" id="T" name="T">
    <br> 
    <label for="SLP">SLP</label> 
    <input type="text" id="SLP" name="SLP">  
    <br> 
    <label for="H">Avg Humidity</label> 
    <input type="text" id="H" name="H">   
    <br> 
    <label for="VV">Avg Visiblity</label> 
    <input type="text" id="VV" name="VV">  
    <br> 
    <label for="V">Avg Windspeed</label> 
    <input type="text" id="V" name="V">   
    <br> 
    <label for="VM">Max sustained Windspeed</label> 
    <input type="text" id="VM" name="VM">  
    <br>  
    <input type="submit" value="Predict"> 
  </form> 
</div> 
</body> 
</html> 